body {
  text-align: center;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* убрали полосу прокрутки */
::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
}

/* контейнер всего контента в body */
.container {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  text-align: center;
}

/* (шапка)верхушка сайта */
.head {
  width: 100%;
  height: 960px;
  background-color: #999999;
  overflow: hidden; /* Скрываем возможные выходящие элементы */
}

/* лого konstruct в шапке */
.logo1 {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translate(-50%);
  width: 130px;
  height: 30px;
  flex-shrink: 0;

  transition: all 0.5s ease;
}

/* задний фон шапки */
.bg {
  margin: auto;
  width: 99.9%;
  height: 960px;
  left: 2px;
}

/* PARTNER WITH KONSTUCT */
.pwk {
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.709px;

  position: absolute;
  left: 51%;
  top: 43%;
  transform: translate(-50%);

  transition: all 0.5s ease;
}

/* An award-winning construction management firm */
.acmf {
  color: #fff;

  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%);

  transition: all 0.5s ease;
}

/* SCROLL DOWN */
.sd {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.7px;

  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%);
}

/* навигационная панель после шапки */
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;

  border: 1px solid #e6e6e6;
  background: #fff;

  text-align: center;
}

.hamburger-menu {
  display: none; /* Скрываем по умолчанию */
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
}

/* левая часть нав.панели */
.left {
  width: 50%;
}

/* правая часть нав.панели */
.right {
  width: 50%;
}

/* лого konstruct в нав.панели */
.logo2 {
  width: 80px;
  height: 18px;

  padding-top: 24px;
  padding-right: 100px;
  transition: all 0.5s ease;
}

/* пункты навигации */
li {
  float: left;
  display: block;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
}

/* радиокнопки */
input[type="radio"] {
  display: none;
  cursor: none;
}

/* оформление навигации */
.tab-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  padding: 0;
  margin: 0;
  padding-left: 50px;
}

/* оформление текста в навигации */
.tab-links label {
  color: #48555b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.091px;

  cursor: pointer;
}
.tab-links label:hover {
  color: #bbb;
}

/* оформление активной ссылки */
input[type="radio"]:checked ~ .navbar .tab-links label[for="about"] {
  color: #00a4e5;
  font-weight: 700;
}

/* показываем контент, связанный с выбранной радио-кнопкой (по умолч все кроме about выключил) */
#home:checked ~ .main #home-content,
#about:checked ~ .main #about-content,
#services:checked ~ .main #services-content,
#work:checked ~ .main #work-content,
#contact:checked ~ .main #contact-content {
  display: block;
}

/* основной контент */
.main {
  margin-top: 57px;
  width: 100%;

  display: flex; /* Используем flexbox */

  justify-content: center; /* Горизонтальное центрирование */
}

#about-content {
  width: 1150px;
  text-align: center;
}

/* our story */
#about-content h1 {
  color: #48555b;

  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;

  margin: 0;
}

.about {
  width: 1150px;
  height: 344px;
  margin-top: 40px;

  display: flex;
  text-align: center;
}

.about-left {
  width: 50%;
  text-align: center;
  justify-content: center;

  margin-left: 100px;
  padding-top: 20px;
}

.about-left h2 {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.188px;
  text-align: left;
}

.about-left p {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  text-align: left;
  padding-top: 10px;
}

.highlight {
  color: #16ace8;
}

.about-right {
  width: 50%;

  position: relative;
  margin: auto;
}

.about-right img {
  margin: 10px;
}

.onimage {
  color: #fff;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.188px;

  position: absolute;
  display: inline;
  text-align: left;
  margin-left: 25px;
}

.services {
  height: 446px;
  width: 1150px;

  margin-top: 90px;
}

.services-top {
  height: 25%;
  display: flex;
}

.oc-line {
  margin-left: 100px;
  width: 30%;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  flex-direction: column;
  text-align: left;
}

.oc-line p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;

  color: #48555b;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
}

.text-but {
  width: 70%;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: space-between;
}

.text-but p {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
  text-align: left;

  margin-top: 0;
  margin-left: 100px;
}

.as {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 30px;

  background: #00a4e5;
  border: 0;

  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.as:hover {
  cursor: pointer;
  background: #64d3ff;
}

.services-bottom {
  height: 75%;
}

.forrec {
  margin-left: 100px;
  width: 900px;
  display: flex;
}

.rect {
  margin-right: 65px;
  width: 295px;
  height: 330px;
  flex-shrink: 0;

  border: 1px solid #e6e6e6;
  background: #fff;
  display: flex;
}

.rect img {
  margin: 38px 206px 217px 23px;
}

.rect h3 {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;

  text-align: left;
  display: flex;
  width: 250px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 138px 22px 144px 23px;
  position: absolute;
}

.rect p {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;

  text-align: left;
  width: 250px;
  height: 92px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  margin: 199px 22px 39px 23px;
}

.get-in-touch {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  margin-bottom: 0px;

  background-color: #171819;
}

.get-in-touch img {
  width: 100%;
  margin-bottom: 0px;
  border: 0;
}

.get-in-touch h2 {
  color: #48555b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.15px;

  /* margin-top: 120px;
  margin-left: 800px; */

  position: absolute;
  top: 225%;
  left: 50%;
  transform: translate(-50%);
}

.get-in-touch button {
  background: #00a4e5;

  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border: 0;

  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;

  position: absolute;
  top: 240%;
  left: 50%;
  transform: translate(-50%);
}

.get-in-touch button:hover {
  cursor: pointer;
  background: #64d3ff;
}

.newsletter {
  height: 100px;
  width: 100%;

  background: #171819;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  flex-direction: row;
}

.news-left h1 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.846px;

  margin-right: 50px;
}

.news-right input {
  border: 1px solid #979797;
  background: #fff;

  width: 250px;
  height: 40px;
  flex-shrink: 0;

  margin-left: 50px;
}

.news-right input::placeholder {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  padding: 5px 98px 9px 16px;
}

.news-right button {
  background: #00a4e5;

  width: 150px;
  height: 44px;
  margin-left: 0px;
  border: 0;

  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.news-right button:hover {
  cursor: pointer;
  background: #64d3ff;
}

.news-left {
  width: 45%;
  text-align: right;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.news-right {
  width: 55%;
  text-align: left;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  height: 300px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot-top {
  width: 100%;
  height: 240px;
  background: #141a20;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot-bottom {
  width: 100%;
  height: 60px;
  background: #171819;
}

.foot-company {
  width: 250px;
  height: 148px;
  flex-shrink: 0;

  
  /* margin: 42px auto 50px 425px; */

  display: flex;
  flex-direction: column;
}

.foot-company h1 {
  color: #fff;
  text-align: left;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;

  /* margin: 0px 191px 133px 0px; */
}

.foot-company img {
  width: 101.618px;
  height: 23px;
  flex-shrink: 0;

  /* position: absolute;
  margin: 34px 148px 91px 0px; */
}

.foot-company p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  text-align: left;
  margin-top: 12px;
}

.foot-links {
  width: 262px;
  height: auto;
  flex-shrink: 0;

  /* position: absolute;
  margin: 42px auto 48px 780px; */
  /* border: 1px solid #979797; */

  display: flex;
  flex-direction: row;
}

.foot-links h1 {
  text-align: left;

  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin-top: 0;
  margin-bottom: 15px;

}

.links-home {
  width: 78px;
  height: 125px;
  text-align: left;
}

.foot-links p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  cursor: default;
  text-align: left;

  margin-top: 0;
}

.foot-links p:hover {
  cursor: pointer;
  color: #00a4e5;
}

.links-faq {
  width: 52px;
  height: 75px;

  /* position: absolute;
  margin: 30px 100px 50px 110px; */
  /* border: 1px solid #979797; */

  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}

.links-blog {
  width: 62px;
  height: 75px;

  /* position: absolute;
  margin: 30px 0px 50px 199px; */
  /* border: 1px solid #979797; */
}

.foot-contact {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  flex-direction: column;
  width: 141px;
  height: auto;

  /* position: absolute;
  margin: 42px auto 40px 1150px; */
  /* border: 1px solid #979797; */
}

.foot-contact h4 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;

  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.foot-contact p {
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.846px;
}

.foot-socials {
  width: 110px;
  height: 13px;
  flex-shrink: 0;

  /* position: absolute;
  margin: 72px auto 155px 1325px; */
  /* border: 1px solid #979797; */

  cursor: default;
  text-align: left;
}

.foot-socials img {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.foot-socials img:hover {
  cursor: pointer;
}

.foot-bottom p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin-top: 23px;
}

/* Responsive Styles */

@media (max-width: 1160px) {
  .pwk {
    font-size: 40px;
  }

  .acmf,
  .sd {
    font-size: 16px; /* Сжимаем шрифты */
  }

  .logo1 {
    width: 100px; /* Уменьшаем размер логотипа */
  }

  .left {
    width: 30%;
  }
  .right {
    width: 70%;
  }
  .tab-links li {
    padding: 20px;
  }

  .onimage {
    font-size: 20px;
  }

  .about {
    height: auto;
    width: 100%;
  }
  .about-left {
    width: 40%;
    margin-left: 100px;
  }
  .about-right {
    width: 60%;
    margin: auto;
  }

  .text-but p {
    margin: 0px 0px 11px 50px;
  }
  .as {
    margin: 0px 80px 0px 0px;
  }

  .services-bottom {
    height: auto;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .rect {
    margin: 0px 40px 0px 0px;
  }

  .get-in-touch {
    width: 100%;
  }

  .get-in-touch h2 {
    transform: translate(-50%);

    top: 223%;
    font-size: 24px;
  }

  .get-in-touch button {
    top: 235%;
    transform: translate(-50%);
  }

  .newsletter {
    height: auto;
  }
  .newsletter h1 {
    font-size: 18px;
    padding: 15px;
  }
  .news-right input[type="text"] {
    height: 35px;
    padding: 0px;
  }
  .news-right button {
    height: 37px;
    padding: 0px;
  }

  footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

/* Общие настройки для небольших устройств (мобильные) */
@media (max-width: 830px) {
  body {
    width: 100%;
  }

  .container {
    width: 100%;
    height: auto; /* Высота должна быть динамичной */
  }

  .head {
    height: auto; /* Высота шапки адаптируется */
  }

  .logo1 {
    width: 50px; /* Уменьшаем размер логотипа */
  }

  .pwk {
    font-size: 20px; /* Уменьшаем размер текста */
  }

  .acmf,
  .sd {
    font-size: 12px; /* Сжимаем шрифты */
  }

  .right {
    display: flex;
  }

  .navbar {
    width: 100%;
    height: auto;
  }

  .hamburger-menu {
    display: block; /* Показываем кнопку на мобильных */
    margin: auto;
    padding: 10px;
    margin-right: 50px;
  }

  .tab-links {
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column;
    width: 50%;
  }

  .tab-links.active {
    display: flex; /* Показываем меню, когда класс active добавлен */
  }

  .logo2 {
    width: 50px;
    margin: auto;
    padding: 15px;
  }

  .about {
    display: flex;
    flex-direction: column; /* Ставим секции одна под другой */

    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }

  #about-content h1 {
    font-size: 14px;
  }

  .about-left {
    width: 30%;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .about-left h2 {
    font-size: 14px;
  }

  .about-right {
    width: 70%;

    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .about-right img {
    width: 130px;
    height: auto;
    margin: 5px;
  }

  .onimage {
    margin: 20px 0px 20px 20px;
    font-size: 16px;
  }

  .services {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column; /* Ставим секции одна под другой */

    height: auto;
  }

  .services-top {
    height: auto;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .oc-line {
    margin: auto;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .oc-line p {
    font-size: 14px;
  }

  .text-but {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }

  .text-but p {
    margin: auto;
  }

  .as {
    margin: 20px auto;
  }

  .services-bottom {
    height: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .forrec {
    margin: 0px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rect {
    margin: 20px auto;
    width: 280px;
    height: 300px;
  }

  .rect img {
    width: 60px;
    height: 60px;
  }

  .rect h3 {
    font-size: 14px;
  }

  .rect p {
    font-size: 11px;
  }

  .get-in-touch {
    margin-top: 10px;
  }

  .get-in-touch h2 {
    font-size: 16px; /* Уменьшаем заголовок */
    top: 310%;
  }

  .get-in-touch button {
    top: 322%;

    font-size: 9px;
    width: 100px;
  }

  .newsletter {
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .news-left h1 {
    font-size: 14px;
    padding: 10px;

    margin: auto;
  }
  .news-right {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }
  .news-right input[type="text"] {
    width: 170px;
    margin: 0px;
  }
  .news-right button {
    width: 100px;
    font-size: 11px;
  }

  footer {
    margin: 0px;
  }
  .foot-company {
    width: 205px;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
  }
  .foot-top {
    height: auto;
  }
  .foot-links {
    margin-top: 5px;
    
    text-align: center;
    justify-content: center;
  }
  .foot-links h1 {
    display: none;
  }
  .foot-contact h4 {
    display: none;
  }
  .foot-socials {
    height: auto;
  }
}
